# Dependencies
node_modules

# Build output
dist

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
*.swp
*.swo

# Testing
coverage
.nyc_output

# Environment
.env
.env.local
.env.*.local

# Temporary files
*.tmp
*.temp
.cache